<div id="weatherBackground" *ngIf="currentWeather"
  [class.sun]="currentWeather.weather[0]?.id == 800" 
  [class.snow]="currentWeather.weather[0]?.id > 599 && currentWeather.weather[0]?.id < 623" 
  [class.rain]="currentWeather.weather[0]?.id > 499 && currentWeather.weather[0]?.id < 532" 
  [class.night]="currentWeather.weather[0]?.id > 199 && currentWeather.weather[0]?.id < 233" 
  [class.cloud]="currentWeather.weather[0]?.id > 800 && currentWeather.weather[0]?.id < 805">
</div>

<div class="ui grid center aligned stackable">
  <div class="column one wide"></div>
  <div class="column fourteen wide" id="bigTempWrap">
    <div id="temperature" class="shadowed" *ngIf="currentWeather">
      <i class="wi" id="weatherIcon" 
        [class.wi-day-sunny]="currentWeather.weather[0]?.id == 800" 
        [class.wi-snow]="currentWeather.weather[0]?.id > 599 && currentWeather.weather[0]?.id < 623" 
        [class.wi-rain]="currentWeather.weather[0]?.id > 499 && currentWeather.weather[0]?.id < 532" 
        [class.wi-thunderstorm]="currentWeather.weather[0]?.id > 199 && currentWeather.weather[0]?.id < 233" 
        [class.wi-cloudy]="currentWeather.weather[0]?.id > 800 && currentWeather.weather[0]?.id < 805">
      </i>
      {{currentWeather.temp?.day | number: '1.0-0'}}&deg;
      <div id="currentInfo">
          <p id="city" class="shadowed">{{city.name}}</p>
          <p id="time" class="shadowed">{{currentTime}}</p>
          <p id="date" class="shadowed">{{currentDate}}</p>
      </div>
    </div>
    
  </div>
  <div class="column one wide"></div>
</div>
<div id="footerWrap">
  <div class="ui equal width grid center aligned padded" id="dayWeatherList" *ngIf="weathers.length">
    <div class="column" *ngFor="let weather of weathers">
      <div class="day">{{weather.dt}}</div>
      <div class="tempWrap">
        <span class="tempHi">{{weather.temp?.max | number: '1.0-0'}}</span>
        <span class="tempLo">{{weather.temp?.min | number: '1.0-0'}}</span>
      </div>
      <i class="wi tempIcon" 
        [class.wi-day-sunny]="weather.weather[0]?.id == 800" 
        [class.wi-snow]="weather.weather[0]?.id > 599 && weather.weather[0]?.id < 623" 
        [class.wi-rain]="weather.weather[0]?.id > 499 && weather.weather[0]?.id < 532" 
        [class.wi-thunderstorm]="weather.weather[0]?.id > 199 && weather.weather[0]?.id < 233" 
        [class.wi-cloudy]="weather.weather[0]?.id > 800 && weather.weather[0]?.id < 805">
      </i>
    </div>
  </div>
</div>