body {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: #333;
}

#weatherBackground {
    position: fixed;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sun {
    background-image: url('assets/images/backgrounds/sun.jpg');    
}

.rain {
    background-image: url('assets/images/backgrounds/rain.jpg');    
}

.snow {
    background-image: url('assets/images/backgrounds/snow.jpg');    
}

.cloud {
    background-image: url('assets/images/backgrounds/clouds.jpg');    
}

.night {
    background-image: url('assets/images/backgrounds/night.jpg');    
}

#bigTempWrap {
  padding-top: 75px;
}

#currentInfo {
    display: inline-block;
}

#footerWrap {
    position: fixed;
    width: 100%;
    height: 110px;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
}

#weatherIcon {
    margin-right: 20px;
}

#temperature {
    font-size: 100px;
    vertical-align: middle;
    position: relative;
}

.day {
    font-size: 25px;
    margin-bottom: 5px;
}

.tempWrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.tempHi {
    display: block;
    border-bottom: 1px solid #fff;
    /* width: 20px; */
}

.tempIcon {
    font-size: 20px;
}

.shadowed {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5)
}


#time, #date, #city {
    font-size: 20px;
    margin: 0;
}

#city {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    #bigTempWrap {
        line-height: 1;
    }
    
    #temperature {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    #weatherIcon {
        display: block;
        margin: 50px 0 20px;
    }
}

@media only screen and (max-width: 400px) {

    #temperature {
        display: block;
    }
    
    .day {
        font-size: inherit;
        margin-bottom: 5px;
    }

    .tempWrap {
        display: block;
        margin: 0 auto;
        width: 20px;
    }

    .tempHi {
        display: block;
        border-bottom: 1px solid #fff;
        width: auto;
    }
    
}